@charset "utf-8";

/*
  
   or_tables.css
   Author: Mehvish BAig 
   Date: 11/29/2017  

   Filename:   lht_tables.css

*/

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width:640px)
{
  table,tbody, tr, td ,th, caption {
   display:block}
  thead, h1{
  display:none}
  caption{
    color:white;
    background-color: rgb( 51, 51, 51 );
    font-size:1.5em;
    line-height:2em;
  }
  td {
    border:1px dotted gray;
    color:rgb(11, 12, 145);
    position:relative;
    padding-left:40%;
    min-height:40px;
  }
   
    
}
/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width:641px)
  {
    table {
      background:url(lht_photo11.pneg) bottom right/ 40% no-repeat ;
      border:6px double rgb(154, 64, 3);
      border-collapse:collapse;
      margin:20px auto;
      table-layout:fixed;
      width:85%;
    }
    th, td {
      border:1px solid gray;
      font-size:2em;
      font-weight:normal;
      padding:5px;
      text-align:top;
      width:14.28%;
      word-wrap:break-word;
    }
    td {
      background-color:rgba(171, 171, 171, 0.6);
      color: rgb(11, 12, 145);
    }
    td {
       background-color:rgba(232, 214, 148, 0.6) ;
       box-shadow:inset 0px 0px 20px gray;
    }
    caption {
      caption-side:top;
      text-align:center;
      padding-bottom:10px;
      font-size:1.2em;
      letter-spacing:3px;
    }
      
    thead th {
      background-color: rgb(154, 64, 3);
      color:white;
    }
}
      
      
      
    
      